/*
 _                   _____    __    __      
| |__  _   _  /\   /\\_   \/\ \ \/\ \ \/\_/\
| '_ \| | | | \ \ / / / /\/  \/ /  \/ /\_ _/
| |_) | |_| |  \ V /\/ /_/ /\  / /\  /  / \ 
|_.__/ \__, |   \_/\____/\_\ \/\_\ \/   \_/ 
       |___/                                                     
*/	



/*=============  
 _____                                        _           
|_   _|   _ _ __   ___   __ _ _ __ __ _ _ __ | |__  _   _ 
  | || | | | '_ \ / _ \ / _` | '__/ _` | '_ \| '_ \| | | |
  | || |_| | |_) | (_) | (_| | | | (_| | |_) | | | | |_| |
  |_| \__, | .__/ \___/ \__, |_|  \__,_| .__/|_| |_|\__, |
      |___/|_|          |___/          |_|          |___/

=============*/

/*----------
CUSTOM FONT 
------------ 
*/
@font-face {
	font-family: ElMessiri-Regular;
 	src: 
 		url(fonts/ElMessiri-Regular.otf) format('opentype'),
  		url(fonts/ElMessiri-Regular.eot.woff) format('woff'),
 		url(fonts/ElMessiri-Regular.eot.ttf) format('truetype'),		
  		url(fonts/ElMessiri-Regular.eot.svg) format('svg'),
  		url(fonts/ElMessiri-Regular.eot.eot) format('embedded-opentype'); /*IE 6-8*/
	font-weight: normal;
}
/*=========================================*/

body {
	background-color: #FEFBDF; /*light_yellow*/
	color: #FFFFFF;
	font-family: ElMessiri-Regular, serif;
	font-size: 1.22em;
	cursor: default;
}

h1, 
h2,
h3 {
	text-align: center;
	color:#FFFFFF; 
	text-decoration: none;
}

h1 a,
h2 a {
	font-family: helvetica, sans-serif; 
	text-decoration: none;
}

h1 a:link, 
h2 a:link{
	color:#FFFFFF;
	text-decoration:none; 
} 

h1 a:visited, 
h2 a:visited
{ 
	color:#FFFFFF; 
} 

h1 a:hover, 
h2 a:hover{ 
	color:#B29DB3; 
}



article ul { margin-left: 20px; }

article a { color: #FFD300; }

article a:hover { font-weight: bold; }

p { font-size: 1em; } 

/*
=============  
  _   _               __  __                   
 | \ | |             |  \/  |                  
 |  \| | __ ___   __ | \  / | ___ _ __  _   _  
 | . ` |/ _` \ \ / / | |\/| |/ _ \ '_ \| | | | 
 | |\  | (_| |\ V /  | |  | |  __/ | | | |_| | 
 |_|_\_|\__,_| \_/ _ |_|  |_|\___|_| |_|\__,_| 
  / ____| |       | |                          
 | (___ | |_ _   _| | ___  ___                 
  \___ \| __| | | | |/ _ \/ __|                
  ____) | |_| |_| | |  __/\__ \                
 |_____/ \__|\__, |_|\___||___/                
              __/ |                            
             |___/                             
layout inherited from grid.css
=============                                              
*/

nav{
	position: absolute; 
    bottom: 0; 
    right: 0;
    margin-bottom: 20px;
}


nav ul {}
		
nav ul li {
	background-color: #B29DB3; /*pastel-purple*/
	color: #271721; /*raisin_black*/
	font-family: Helvetica, Sans-Serif;
}
	
nav  ul li  .rmenu {}
	
nav ul a {
	text-decoration: none;
	background-color: #692E45; /*red brown*/
	color: #FFFFFF; 
}
	
nav  ul li.rmenu {}
	
nav ul li:hover a:hover {
	color: #692E45; /*red brown*/
	background-color: #B29DB3; /*pastel-purple*/
}		
		


/* ---------------
header specific 
----------------*/
.trim-top{
	margin-top: 0px;
	padding-top: 0px;
}   

.trim-bottom{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.trim-all{
	margin: 0px;
	padding: 0px;
}

.logo{
	display: inline;
	float: left;
	margin-left: 20px;
}

.headWrapper{
	height: 100px;
	width: 100%; 
	position: relative;
}

/* ---------------
footer specific 
----------------*/
.footWrapper{
	height: 300px;
	width: 100%; 
	position: relative;
}

.footNav, .footLinks{
	display: inline;
	float: left;
	background-color: #271721; /*raisin_black*/
	font-family: helvetica, sans-serif; 
}

/* Foot Buttons Colours*/
.footNav ul li {
	color: #FFFFFF;
	text-decoration: none;
	list-style: none;
}	

.footNav ul a {
	color: #FFFFFF;
}

.footNav a:link {
	color:#FFFFFF;
	text-decoration:none; 
}

.footNav ul li:hover a:hover {
	color: #692E45; /*red brown*/
	background-color: #B29DB3;
}

/* Footer Terms and Cookies */


.footLinks ul a { color: #FFFFFF; }

.footLinks a:link {
	color:#FFFFFF;
	text-decoration:none; 
}

.footLinks ul li {
	color: #FFFFFF;
	text-decoration: none;
	list-style: none;
}	

.footLinks ul li:hover a:hover {
	color: #692E45; /*red brown*/
	background-color: #B29DB3;
}



.homeButton{
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 20px;
	left: 25px;
}

.socialIcons{
	display: inline;
	float: left;
	margin: 10px;
}

.copyright{
	margin-top: 50px;
	padding-bottom: 20px;
}
/*---------
MEDIA

Video / Audio 
related styles

---------*/

audio, 
video {
 width: 100%;
}​

.youtubeWrapper{
	display: block;
	text-align: center
}

div.youtubeWrapper iframe {
	margin: 0 auto;
	width: 100%;
	height: 320px;
}

/*---------
Header Banner
---------*/
.textBox_onImage{
	position: absolute; 
    top: 285px; 
    margin-left: 220px;

	width: 300px; 
	color: white; 
	font: 19px Helvetica, Sans-Serif; 
	font-weight: lighter;
	letter-spacing: +2px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}


/*---------------------------
Restaurant | Recipe | Recipe [RRR] section
---------------------------*/
.rrr{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.rrr_Descript{ 
	letter-spacing: 1px;
	margin-left: 10px;
}

.rrr_Descript a{
	text-decoration: none;
	color: #FFFFFF; /*white*/
}

.rrr_Descript:hover a:hover{
	text-decoration: none;
	color: #B29DB3; /*pastel_purple*/
	font-weight: normal;
}

/*image stretch to size of div*/
.images{
	height: 100%; 
	width: 100%; 
	object-fit: contain;
}

.thumb_images{
	height: 100%; 
	width: 95%; 
	object-fit: contain;
	margin-left:10px; 
	margin-right: 10px; 
	margin-top: 10px;
}

/* col-5 : Restuarant and Recipes Text Description */
.thumbDescript{
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	text-align: left;
	letter-spacing: +1px; 
}

.thumbDescript a{
	text-decoration: none;
	color: #FEFBDF; /*light_yellow*/
}

.thumbDescript:hover a:hover{
	text-decoration: none;
	color: #692E45; /*wine_dregs */
	background-color: #B29DB3; /*pastel_purple*/
}

/* col-5 Recipe Ingredients/Instructions */

.thumbDescriptList {
	text-decoration: none;
	list-style: none;
	margin-left: 10px;
}

.thumbDescriptList li{
	margin-top: 10px;
}

.thumbDescriptList a{
	text-decoration: none;
	color: #FEFBDF; /*light_yellow*/
}

.thumbDescriptList:hover a:hover {
	color: #692E45; /*wine_dregs */
	background-color: #B29DB3; /*pastel_purple*/
}

/*---------
ABOUT banner on HOMEPAGE
---------*/
.textBox_onAbout{
	position: absolute; 
    top: 875px; 
    margin-left: 220px;

	width: 300px; 
	color: white; 
	text-decoration: none;
	font: 19px Helvetica, Sans-Serif; 
	
	letter-spacing: +2px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}

.textBox_onAbout a{
	color: white; 
	text-decoration: none;
	font: 19px Helvetica, Sans-Serif; 
	font-weight: lighter;
	letter-spacing: +2px;  
}

/*=========================================

  _____  ______  _____ _______      _    _ _____            _   _ _______ 
 |  __ \|  ____|/ ____|__   __|/\  | |  | |  __ \     /\   | \ | |__   __|
 | |__) | |__  | (___    | |  /  \ | |  | | |__) |   /  \  |  \| |  | |   
 |  _  /|  __|  \___ \   | | / /\ \| |  | |  _  /   / /\ \ | . ` |  | |   
 | | \ \| |____ ____) |  | |/ ____ \ |__| | | \ \  / ____ \| |\  |  | |   
 |_|  \_\______|_____/   |_/_/    \_\____/|_|  \_\/_/    \_\_| \_|  |_|   
                                                                                                                                              
  _____                 
 |  __ \                
 | |__) |_ _  __ _  ___ 
 |  ___/ _` |/ _` |/ _ \
 | |  | (_| | (_| |  __/
 |_|   \__,_|\__, |\___|
              __/ |     
             |___/      

=========================================*/

.rest_main{
}

.textBox_onReviews{
	position: absolute; 
    top: 2080px; 
    margin-left: 220px;

	width: 300px; 
	color: white; 
	text-decoration: none;
	font: 19px Helvetica, Sans-Serif; 
	
	letter-spacing: +2px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}

.textBox_onReviews a{
	color: white; 
	text-decoration: none;
	font: 19px Helvetica, Sans-Serif; 
	font-weight: lighter;
	letter-spacing: +2px;  
}

/*=========================================

  _____  ______ _____ _____ _____  ______ 
 |  __ \|  ____/ ____|_   _|  __ \|  ____|
 | |__) | |__ | |      | | | |__) | |__   
 |  _  /|  __|| |      | | |  ___/|  __|  
 | | \ \| |___| |____ _| |_| |    | |____ 
 |_|  \_\______\_____|_____|_|    |______|
                                          
  _____                 
 |  __ \                
 | |__) |_ _  __ _  ___ 
 |  ___/ _` |/ _` |/ _ \
 | |  | (_| | (_| |  __/
 |_|   \__,_|\__, |\___|
              __/ |     
             |___/      

=========================================*/

/*---------------*/
/* Show more/less styles */

/* Ref: https://codepen.io/Idered/pen/AeBgF  */
/*---------------*/
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  text-decoration: none;
}
.read-more-target a{
  text-decoration: none;
  color: #FEFBDF;
}

.read-more-target:hover a:hover {
	color: #692E45; /*wine_dregs */
	background-color: #B29DB3; /*pastel_purple*/
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #FFFFFF;
  font-size: 1em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}




/*=========================================
           ____   ____  _    _ _______ 
     /\   |  _ \ / __ \| |  | |__   __|
    /  \  | |_) | |  | | |  | |  | |   
   / /\ \ |  _ <| |  | | |  | |  | |   
  / ____ \| |_) | |__| | |__| |  | |   
 /_/    \_\____/ \____/ \____/   |_|   
                                                                                    
=========================================*/


.textBox_onFamily{
	position: absolute; 
    top: 275px; 
    margin-left: 180px;

	width: 400px; 
	color: white; 
	font: 19px Helvetica, Sans-Serif; 
	font-weight: lighter;
	letter-spacing: +2px;  
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 10px; 
}

.caption_onFeatureVideo{
	text-align: center;
} 

/*=========================================

  _    _                      _                   _             
 | |  | |                    | |                 (_)            
 | |__| | ___  _   _ ___  ___| | _____  ___ _ __  _ _ __   __ _ 
 |  __  |/ _ \| | | / __|/ _ \ |/ / _ \/ _ \ '_ \| | '_ \ / _` |
 | |  | | (_) | |_| \__ \  __/   <  __/  __/ |_) | | | | | (_| |
 |_|  |_|\___/ \__,_|___/\___|_|\_\___|\___| .__/|_|_| |_|\__, |
                                           | |             __/ |
                                           |_|            |___/ 
                                                 

=========================================*/

/* sections and articles need headers for crawlers and readers */
.for_seo{ display: none; }

/*=========================================

   _____ ____  _      ____  _    _ _____   _____ 
  / ____/ __ \| |    / __ \| |  | |  __ \ / ____|
 | |   | |  | | |   | |  | | |  | | |__) | (___  
 | |   | |  | | |   | |  | | |  | |  _  / \___ \ 
 | |___| |__| | |___| |__| | |__| | | \ \ ____) |
  \_____\____/|______\____/ \____/|_|  \_\_____/ 
                                                 
                                                 

=========================================*/
/*
-------------------------------------
(class name) 	(Hex)  		(RGB)
raisin_black 	#271721		39 23 33
red_brown  		#A12B10		161 43 16
light_yellow	#FEFBDF 	254 251 223
pastel_purple   #B29DB3		178 157 179	
wine_dregs 		#692E45		105 46 69
white: ;		#FFFFFF    	255 255 255  
-------------------------------------

Nav Buttons Colours
nav ul li {
	background-color: #FEFBDF;
	color: #271721;
}	

nav ul a {
	background-color: #FEFBDF;
	color: #271721;
}

nav ul li:hover a:hover {
	color: #FFFFFF;
	background-color: #B29DB3;
}

-------------------------------------
*/

.raisin_black{
	background-color: #271721;
}

.red_brown{
	background-color: #A12B10;
}

.light_yellow{
	background-color: #FEFBDF;
}

.pastel_purple{
	background-color: #B29DB3;
}

.wine_dregs {
	background-color: #692E45;
}

